<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li class="text-muted menu-title">Quản lý phòng mạch tư v1.0</li>

                <li class="has_sub">
                    <a href="/" class="waves-effect"><i class="ti-home"></i><span> Trang chủ </span></a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-user"></i>
                        <span> Quản lý bệnh nhân </span> <span class="menu-arrow"></span> </a>
                    <ul class="list-unstyled">
                        <li><a href="/benhnhan"> Danh sách bệnh nhân </a></li>
                        <li><a href="/benhnhan/them"> Thêm bệnh nhân </a></li>
                        <li><a href="/benhnhan/tracuu"> Tra cứu bệnh nhân </a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-layers-alt"></i>
                        <span> Quản lý phiếu khám </span> <span class="menu-arrow"></span> </a>
                    <ul class="list-unstyled">
                        <li><a href="/phieukhambenh"> Danh sách phiếu khám </a></li>
                        <li><a href="/phieukhambenh/them"> Thêm phiếu khám </a></li>
                        <li><a href="/phieukhambenh/danhsachkhambenh"> Danh sách khám bệnh </a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-view-list"></i>
                        <span> Báo cáo </span> <span class="menu-arrow"></span> </a>
                    <ul class="list-unstyled">
                        <li><a href="/baocaodoanhthu"> Báo cáo doanh thu </a></li>
                        <li><a href="/baocaosudungthuoc"> Báo cáo sử dụng thuốc </a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-layers-alt"></i>
                        <span> Danh mục </span> <span class="menu-arrow"></span> </a>
                    <ul class="list-unstyled">
                        <li><a href="/loaibenh"> Quản lý loại bệnh </a></li>
                        <li><a href="/thuoc"> Quản lý thuốc </a></li>
                        <li><a href="/donvi"> Quản lý đơn vị </a></li>
                        <li><a href="/cachdung"> Quản lý cách dùng </a></li>
                        <!-- <li><a href="/nhapthuoc"> Nhập thuốc </a></li> -->
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="/quydinh" class="waves-effect"><i class="ti-settings"></i><span> Quy định </span></a>
                </li>

                <li class="text-muted menu-title">Tác giả</li>

                <li class="has_sub">
                    <a href="/about" class="waves-effect"><i class="ti-window"></i><span> Về chúng tôi </span></a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>